* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

body {
    width: 100%;
}

section {
    margin: 80px auto auto auto;
    width: 90vw;
    min-height: 80vh;
}

h2 {
    font-family: 'Great Vibes', cursive;
    padding: 20px 0;
    font-size: 80px;
    font-weight: 500;
    color: #222630;
    margin-top: 80px;
}

.wrapper {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
    background-color: #FCE9D9;
    color: #222630;
    padding: 10px;
    z-index: 1000;
}

.logo {
    flex: 1;
}

.logo img {
    height: 50px;
    margin-left: 30px;
}

.nav-links {
    position: static;
    right: 0px;
    top: 8vh;
    background-color: #FCE9D9;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    transform: none;
    transition: transform 0.5s ease-in;
    letter-spacing: 3px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #222630;
    margin: 5px;
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    /* opacity: 0; */
    visibility: hidden;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 30px;
    color: #222630;
}

.hidden-link {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cover {
    opacity: 0;
    -webkit-transform: translateY(4em);
    transform: translateY(4em);
    -webkit-transition: opacity .3s .25s ease-out,
        -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    transition: opacity .3s .25s ease-out,
        -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
        opacity .3s .25s ease-out;
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
        opacity .3s .25s ease-out,
        -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    will-change: transform, opacity;
}

.cover.is-visible {
    opacity: 1;
    -webkit-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
}

.cover.is-visible:hover {
    transform: scale(1.03);
    transition: all 0.2s ease-in;
}

.cover>img {
    width: 100%;
    height: auto;
}

.intro-text>h1 {
    font-family: 'Great Vibes', cursive;
    padding: 20px 0;
    font-size: 80px;
    font-weight: 500;
    color: #222630;
}

.intro-text>p {
    color: #222630;
    font-size: 20px;
    margin-top: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-top: 50px;
}

button {
    background-color: transparent;
    color: #4A2D22;
    width: 200px;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 95% 5% 95% 5% / 5% 95% 5% 95%;
    border: 5px solid #FCE9D9;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}











.about {
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    -webkit-transform: translateY(4em);
    transform: translateY(4em);
    -webkit-transition: opacity .3s .25s ease-out,
        -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    transition: opacity .3s .25s ease-out,
        -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
        opacity .3s .25s ease-out;
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
        opacity .3s .25s ease-out,
        -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    will-change: transform, opacity;
}

.about.is-visible {
    opacity: 1;
}

.about-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px;
    border: 10px solid #FCE9D9;
    border-radius: 95% 5% 95% 5% / 5% 95% 5% 95%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 10px 30px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 15px -8px;
    width: 90%;
}

.about-post img {
    margin-top: 40px;
    width: 40%;
    border-radius: 26% 74% 23% 77% / 75% 18% 82% 25%;
}

.about p {
    font-size: 16px;
}







.gallery {
    width: 100vw;
    text-align: center;
}


.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 95% 5% 95% 5% / 5% 95% 5% 95%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 10px 30px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 15px -8px;
    width: 30%;
    opacity: 0;
    -webkit-transform: translateY(4em);
    transform: translateY(4em);
    -webkit-transition: opacity .3s .25s ease-out,
        -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    transition: opacity .3s .25s ease-out,
        -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
        opacity .3s .25s ease-out;
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
        opacity .3s .25s ease-out,
        -webkit-transform 4s .25s cubic-bezier(0, 1, .3, 1);
    will-change: transform, opacity;
}

.post.is-visible:hover {
    transform: scale(1.03);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.2s ease-in;
}

.post.is-visible {
    opacity: 1;
    -webkit-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
}

.post:nth-child(even) {
    border: 10px solid #FCE9D9;
}

.post:nth-child(odd) {
    border: 10px solid #CCC29F;
}

.post img {
    width: 70%;
    border-radius: 26% 74% 23% 77% / 75% 18% 82% 25%;
}

.post p {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    text-shadow: 2px 2px 10px#222630;
    color: #4A2D22;
}







.contact {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.contacts {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-links {
    width: 100vw;
    padding: 0 30px 0 30px;
    border-radius: 95% 5% 95% 5% / 5% 95% 5% 95%;
    border: 10px solid #FCE9D9;
    margin: 20px;
}

.contact-links:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: scale(1.03);
    transition: all 0.2s ease-in;
}


.link-icon img {
    width: 30px;
    height: auto;
    margin-top: 15px;
}

.link a {
    text-decoration: none;
    color: #222630;
    margin-top: 20px;
}

.link p {
    font-size: 25px;
    margin-bottom: 15px;
}



.map {
    width: 100vw;
    margin: 20px;
    border-radius: 95% 5% 95% 5% / 5% 95% 5% 95%;
    border: 10px solid #CCC29F;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 10px 30px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 15px -8px;
}


.map:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: scale(1.03);
    transition: all 0.2s ease-in;
}

iframe {
    border-radius: 99% 3% 99% 3% / 3% 99% 3% 99%;
}

.wrapper-foot {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

.foot {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20px;
    background-color: #FCE9D9;
    color: #222630;
    z-index: 1000;
}

.foot-links {
    position: static;
    right: 0px;
    background-color: #FCE9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    transform: none;
    transition: transform 0.5s ease-in;
    letter-spacing: 3px;
}


.foot-links li {
    list-style: none;
    font-size: 40px;
}

.foot-links a {
    text-decoration: none;
    color: #222630;
}

.facebook-logo {
    height: 45px;
}




@media screen and (min-width: 1200px) {

    .introduction,
    .cover {
        width: 50%;
    }
}



/* Tablet size */

@media screen and (min-width: 600px) and (max-width: 1199px) {
    section {
        margin: 40px auto auto auto;
    }

    .header img {
        max-width: 90vw;
    }

    .nav-links {
        position: absolute;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        width: 30vw;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .hidden-link {
        display: block;
    }

    .home {
        margin-top: 120px;
        flex-direction: column;
    }

    .intro-text {
        text-align: center;
    }

    .cover>img {
        width: 60%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about {
        flex-direction: column;
    }

    .about img {
        margin-top: 30px;
        width: 50%;
    }

    .post {
        width: 40%;
    }

    .about-post {
        width: 90%;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .contacts {
        width: 80vw;
        display: flex;
        flex-direction: column;
    }

    .contact-links {
        width: 100%;
    }

    .map {
        width: 100%;
        height: 194px;
    }

    .foot-links li {
        list-style: none;
        font-size: 30px;
    }

    .foot-links a {
        text-decoration: none;
        color: #222630;
    }

    .facebook-logo {
        height: 35px;
    }

}




/* Mobile size */
@media screen and (max-width: 599px) {
    section {
        margin: 40px auto auto auto;
    }

    .header img {
        max-width: 90vw;
    }

    .nav-links {
        position: absolute;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burger {
        display: block;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .intro-text {
        text-align: center;
    }

    .hidden-link {
        display: block;
    }

    .home {
        flex-direction: column;
        margin-top: 120px;
    }

    .intro-text>h1 {
        font-size: 70px;
    }

    .about {
        flex-direction: column;
    }

    .about-post {
        width: 80%;
    }

    .about p {
        font-size: 14px;
    }

    .about img {
        width: 70%;
    }

    .post {
        width: 80%;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contacts {
        width: 80vw;
        display: flex;
        flex-direction: column;
    }

    .contact-links {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .link a {
        text-decoration: none;
        color: #222630;
        margin-top: 1px;
    }

    .link p {
        font-size: 25px;
        margin-bottom: 1px;
    }


    .map {
        width: 100%;
        height: 230px;
    }

    .foot-links li {
        list-style: none;
        font-size: 15px;
    }

    .foot-links a {
        text-decoration: none;
        color: #222630;
    }

    .facebook-logo {
        height: 30px;
    }
}